* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --window-width-desktop: 700px;
  --window-width-mobile: 340px;
  --background-color-main: rgb(172, 172, 192);
}

.App-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color-main);
}

.Content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 1100px;
  padding: 0 40px 50px 40px;
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgb(116, 115, 115);
}

.leaflet-container {
  width: var(--window-width-desktop);
  height: 300px;
}